#slider {
  overflow: hidden;
  position: relative;
  border: 20px solid #4f5769;
  box-shadow: 5px 5px 20px rgb(23, 23, 23);
  width: 1500px;
  height: 180px;
}

.footer {
  position: absolute;
  bottom: 0;
}

.image-box {
  width: 15000px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  animation: bannermove 8s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-10%, 0);
  }
}
